/* generic minimal CSS reset
   inspiration: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

:root {
  box-sizing: border-box;
  line-height: 1.4;
  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
